{
border:0;
}
abbr:before
{
content: attr(title);
}
abbr span
{
display:none;
}
input[type=text]
{
padding:0.3em;
border:1px solid #aaa;
border-radius:3px;
color:#333;

/* taken for twitter bootstrap */
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

-webkit-transition:border linear 0.4, box-shadow linear 0.4;
-moz-transition:border linear 0.4, box-shadow linear 0.4;
-ms-transition:border linear 0.4, box-shadow linear 0.4;
-o-transition:border linear 0.4, box-shadow linear 0.4;
transition:border lineer 0.4, box-shadow linear 0.4;
}
input[type=text]:focus
{
outline:0;
border-color: rgba(82, 168, 236, 1);
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
header, th
{
color:#fff;
background-color:#053c72;
background-image: -webkit-gradient(linear, left top, left bottom, from(#053c72), to(#02274c)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #053c72, #02274c); /* Chrome 10+, Saf5.1+, iOS 5+ */
background-image:    -moz-linear-gradient(top, #053c72, #02274c); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #053c72, #02274c); /* IE10 */
background-image:      -o-linear-gradient(top, #053c72, #02274c); /* Opera 11.10+ */
background-image:         linear-gradient(to bottom, #053c72, #02274c);
}
header
{
color:#fff;
line-height:3em;
}
header h1
{
margin:0;
text-align:center;
}
h2
{
border-bottom: 1px solid #ccc;
padding-bottom:4px;
margin-left: 5px;
margin-right:5px;
}
th
{
border:0;
}
td
{
border:0;
border:1px solid #aaa;
}
.late td
{
background-color: #ffe5e5;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe5e5), to(#ffcccc)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #ffe5e5, #ffcccc); /* Chrome 10+, Saf5.1+, iOS 5+ */
background-image:    -moz-linear-gradient(top, #ffe5e5, #ffcccc); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #ffe5e5, #ffcccc); /* IE10 */
background-image:      -o-linear-gradient(top, #ffe5e5, #ffcccc); /* Opera 11.10+ */
background-image:         linear-gradient(to bottom, #ffe5e5, #ffcccc);

}
.c
{
text-align:center;
}
.details
{
font-size:90%;
font-weight:bold;
}
table
{
margin:1em auto;
min-width:90%;
}
tr
{
border:1px solid #aaa;
}
.yui3-button, a.yui3-button
{
background-color:#333;
color:#fff;
}
.loading
{
text-align:center;
}
.gm-loader
{
margin-top:2em;
padding-left:40px;
min-height:32px;
background: url(../img/loader.gif) top left no-repeat;
padding-top:8px;
display:inline-block;
}
.back-home
{
display:inline-block;
float:left;
color:#fff;
text-decoration:none;
font-weight:bolder;
font-size:140%;
border-right:1px solid #ddd;
padding:0 0.5em;
}
.gm-station-list
{
list-style-type:none;
border-radius:3px;
border:1px solid #aaa;
margin:0 5px;
}
.gm-station-list li:last-child
{
border:0;
}
.gm-station-list li
{
border-bottom:1px solid #aaa;
padding:4px 2px;
}
.gm-station-list li, td
{
background-color: #fafafa;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eee)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #fafafa, #eee); /* Chrome 10+, Saf5.1+, iOS 5+ */
background-image:    -moz-linear-gradient(top, #fafafa, #eee); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #fafafa, #eee); /* IE10 */
background-image:      -o-linear-gradient(top, #fafafa, #eee); /* Opera 11.10+ */
background-image:         linear-gradient(to bottom, #fafafa, #eee);
}
.gm-station-list p
{
margin-bottom:0;
}
a.gm-bookmark
{
background-color:#ab9500;
color:#555;
padding-left:0.5em;
padding-right:0.5em;
font-size:120%;
}
a.gm-bookmark.bookmarked
{
background-color:#F2D100;
color:#000;
}
.gm-name
{
font-size:110%;
}
.gm-action
{
float:right;
}
.gm-action .yui3-button
{
font-size:80%;
padding:1em 1.15em;
}
#search-station
{
width:90%;
max-width:400px;
}
.gm-search
{
text-align:center;
}
.gm-search p
{
margin-bottom:0.3em;
}
.help
{
margin:0 5px;
font-style:italic;
}
.gm-toolbar
{
text-align:center;
margin:1em;
}
.gm-toolbar .yui3-button
{
border-radius:0;
margin:0;
}
.gm-toolbar .yui3-button:first-child
{
border-radius:4px;
border-top-right-radius:0;
border-bottom-right-radius:0;
}
.gm-toolbar .yui3-button:last-child
{
border-radius:4px;
border-top-left-radius:0;
border-bottom-left-radius:0;
}

/* Responsive part */
@media (max-width: 480px)
{
    abbr:before
    {
    content: "";
    }
    abbr span
    {
    display:inline;
    }
}
@media (max-width: 320px)
{

    a.gm-bookmark
    {
    font-size:90%;
    }
    .gm-action .yui3-button
    {
    font-size:65%;
    }
    .gm-name
    {
    font-weight:normal;
    font-size:85%;
    }
}


