abbr
{
border:0;
}
abbr:before
{
content: attr(title);
}
abbr span
{
display:none;
}
input[type=text]
{
padding:0.3em;
border:1px solid #aaa;
border-radius:3px;
color:#333;

/* taken for twitter bootstrap */
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

-webkit-transition:border linear 0.4, box-shadow linear 0.4;
-moz-transition:border linear 0.4, box-shadow linear 0.4;
-ms-transition:border linear 0.4, box-shadow linear 0.4;
-o-transition:border linear 0.4, box-shadow linear 0.4;
transition:border lineer 0.4, box-shadow linear 0.4;
}
input[type=text]:focus
{
outline:0;
border-color: rgba(82, 168, 236, 1);
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
h2
{
border-bottom: 1px solid #ccc;
padding-bottom:4px;
margin-left: 5px;
margin-right:5px;
}
.yui3-button, a.yui3-button
{
background-color:#333;
color:#fff;
font-size:110%;
padding:0.4em 0.9em;
}
.back-home
{
display:inline-block;
float:left;
color:#fff;
text-decoration:none;
font-weight:bolder;
font-size:140%;
border-right:1px solid #ddd;
padding:0 0.5em;
}
.gm-station-list, .gm-departures, .gm-train, .gm-stops
{
list-style-type:none;
border-radius:3px;
border:1px solid #aaa;
margin:0 auto;
max-width:800px;
}
@media (max-width: 800px)
{
    .gm-station-list, .gm-departures, .gm-train, .gm-stops
    {
    margin:0 4px;
    }
}
.gm-departures .yui3-g
{
margin-right:30px;
}
.gm-station-list li:before, .gm-departures li:before
{
content:"»";
float:right;
font-size:230%;
font-weight:bold;
float:right;
padding-right:0.1em;
display:block;
}
.gm-station-list li:last-child, .gm-departures li:last-child, .gm-stops li:last-child
{
border:0;
}
.gm-station-list li, .gm-departures li, .gm-stops li
{
border-bottom:1px solid #aaa;
padding:4px 2px;
background-color: #fafafa;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eee)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #fafafa, #eee); /* Chrome 10+, Saf5.1+, iOS 5+ */
background-image:    -moz-linear-gradient(top, #fafafa, #eee); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #fafafa, #eee); /* IE10 */
background-image:      -o-linear-gradient(top, #fafafa, #eee); /* Opera 11.10+ */
background-image:         linear-gradient(to bottom, #fafafa, #eee);
}
.gm-stops li
{
padding:8px 4px;
}
.gm-stops, .gm-train
{
margin-top:1em;
font-size:130%;
}
.gm-stops .time
{
font-weight:bold;
display:inline-block;
width:3.1em;
}
.gm-stops .late
{
color:#cd0000;
font-weight:bold;
}
.gm-train
{
padding:4px 2px;
background-color: #fafafa;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eee)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #fafafa, #eee); /* Chrome 10+, Saf5.1+, iOS 5+ */
background-image:    -moz-linear-gradient(top, #fafafa, #eee); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #fafafa, #eee); /* IE10 */
background-image:      -o-linear-gradient(top, #fafafa, #eee); /* Opera 11.10+ */
background-image:         linear-gradient(to bottom, #fafafa, #eee);
}
.gm-train.late
{
border-color:#cd0000;
}
.gm-train li
{
padding:5px;
}
.gm-train-late strong
{
color:#cd0000;
}
.gm-departures li
{
padding:8px 2px 4px 4px;
}
.gm-departures li.late, .gm-train.late
{
background-color: #ffe5e5;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe5e5), to(#ffcccc)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #ffe5e5, #ffcccc); /* Chrome 10+, Saf5.1+, iOS 5+ */
background-image:    -moz-linear-gradient(top, #ffe5e5, #ffcccc); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #ffe5e5, #ffcccc); /* IE10 */
background-image:      -o-linear-gradient(top, #ffe5e5, #ffcccc); /* Opera 11.10+ */
background-image:         linear-gradient(to bottom, #ffe5e5, #ffcccc);
}

.gm-station-list li:hover, .gm-departures li:hover, .gm-stops li:hover
{
cursor:pointer;
background-color: #fafafa;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#d0d0d0)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #fafafa, #d0d0d0); /* Chrome 10+, Saf5.1+, iOS 5+ */
background-image:    -moz-linear-gradient(top, #fafafa, #d0d0d0); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #fafafa, #d0d0d0); /* IE10 */
background-image:      -o-linear-gradient(top, #fafafa, #d0d0d0); /* Opera 11.10+ */
background-image:         linear-gradient(to bottom, #fafafa, #d0d0d0);
}
.gm-stops li:hover
{
cursor:default;
}

.gm-station-list p
{
margin-bottom:0;
}
a.gm-bookmark
{
background-color:#ab9500;
color:#555;
font-size:150%;
padding:0.5em 0.6em;
}
a.gm-bookmark.bookmarked
{
background-color:#F2D100;
color:#000;
}
.gm-name
{
font-size:110%;
}
#search-station
{
width:90%;
max-width:400px;
font-size:110%;
}
.gm-search-form
{
text-align:center;
}
.gm-search-form p
{
margin-bottom:0.3em;
}
.help, .gm-no-result
{
margin:0 5px;
font-style:italic;
}
.gm-departures .info:before
{
content: attr(title);
}
.gm-toolbar
{
text-align:center;
}
.gm-num
{
text-align:right;
}
.gm-destination
{
font-size:120%;
margin-top:0.4em;
}
.gm-infos
{
font-size:110%;
}
.gm-infos .time
{
font-weight:bold;
}
.gm-infos .details
{
font-weight:bold;
color:#cd0000;
}
.gm-error
{
border-radius:3px;
border:2px solid #bf0000;
padding:0.6em;
background:#fff1f1;
width:80%;
margin:1em auto;
}

/* Responsive part */
/*
@media (max-width: 480px)
{
    abbr:before
    {
    content: "";
    }
    abbr span
    {
    display:inline;
    }
}
*/
@media (max-width: 400px)
{
    .gm-departures .info:before
    {
    content:"";
    }
}
